@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* root------------------------------------------------------------------------------------------------------------------ */

header{
  background-color: #084C61;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.root-page{
  height: 100vh;
}

.logo{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  height: 50px;
  width: auto;
}

.menu{
  display: flex;
  align-items: center;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-links{
  position: absolute;
  top: 50px;
  right: -10px;
  width: 33vw;
  height: auto;
  background-color: #084C61;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  animation: fadeIn 1.8s;
  z-index: 1;
}

.menu-links a{
  color: white;
  text-decoration: none;
  margin-top: 5px;
}

.burger-menu {
  cursor: pointer;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: auto;
}

.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 5px solid white;
  width: 100%;
  transition: 0.55s;
  border-radius: 2px;
}

.menu-top {
  top: 0;
}
.menu-middle {
  top: 12px;
}
.menu-bottom {
  top: 24px;
}

.active .menu-top {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.active .menu-middle {
  opacity: 0;
}
.active .menu-bottom {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

footer{
  background-color: #084C61;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: .7em;
  margin-top: auto;
}

.footer-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.copyright{
  display: flex;
  align-items: flex-end;
}

/* home-------------------------------------------------------------------------------------------------------------------- */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero{
  position: relative;
  height: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img{
  width: 100%;
  height: auto;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.771);
}

.hero p{
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.sign-up{
  margin-top: 20px;
  background-color: #9E788F;
  color: white;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.sign-up:hover{
  background-color: #9e788fd8;
}

.sign-up:active{
  background-color: #8a687d;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
}

a{
  text-decoration: none;
}

.info{
  margin-top: 20px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #084C61;
  color: white;
  padding: 10px;
}

.heading{
  font-weight: 600;
  font-size: 1.1em;
}

.icons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: .8em;
}

.icons img{
  height: 25px;
  width: auto;
}

.icon{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.icon.mindfulness{
  background-color: #9E788F;
}

.icon.distress{
  background-color: #F4A261;
}

.icon.emotion{
  background-color: #A9B3CE;
}

.icon.interpersonal{
  background-color: #E9C46A;
}

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.skill p{
  text-align: center;
}

.features-cards{
  height: auto;
  background-color: lightgray;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.card{
  background-color: white;
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.picture{
  width: 150px;
}

.picture img{
  width: 100%;
  height: auto;
}

.text{
  padding: 10px;
  width: 75%;
}

.text h1{
  font-size: 1.1em;
}

.text p{
  font-size: .9em;
}

/* Sign Up--------------------------------------------------------------------------------------------------------- */

.signup-page{
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  height: 100vh;
}

.signup-page h1{
  margin-top: 20px;
  font-size: 1.2em;
}

.signup-page form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.formContainer input{
  width: 100%;
  height: 30px;
  padding: 5px;
  font-family: "Quicksand", sans-serif;
}

.formContainer input:focus-visible{
  outline: none;
  border: 3px solid #9E788F;
}

form button{
  background-color: #9E788F;
  color: white;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

form button:active{
  background-color: #8a687d;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
}

/* Log In---------------------------------------------------------------------------------------------------------------- */

.login-page{
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  height: 100vh;
}

.login-page h1{
  margin-top: 20px;
  font-size: 1.2em;
}

.login-page form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signUpRedirect{
  margin-top: 15px;
  font-size: .9em;
  display: flex;
}

.signUpRedirect a{
  color: #084C61;
  margin-left: 5px;
}

.signUpRedirect a:active{
  color: #F4A261;
}

/* Profile Page-------------------------------------------------------------------------------------------------------- */

.profile-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header{
  background-color: #9E788F;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  height: 200px;
  width: 100%;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.229);
}

.profile-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: lightgray;
  overflow: hidden;
}

.profile-image img{
  height: 100%;
  width: auto;
}

.profile-header .username{
  font-size: 1.2em;
  font-weight: 600;
}

.dbtDiary{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.242);
  width: 90%;
  font-family: "Quicksand", sans-serif;
}

.dbtDiary p{
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 10px;
}

.day-icons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0px;
}

.day{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F4A261;
}

.day.active{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4A261;
  color: white;
}

.dbtDiary a{
  width: 100%;
}

.viewDiaryContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-bottom: 10px;
}

.viewDiaryButton{
  background-color: #9E788F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.viewDiaryButton:active{
  background-color: #8a687d;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
}

.courses{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.242);
  width: 90%;
  font-family: "Quicksand", sans-serif;
}

.courses a{
  width: 100%;
}

.courses p{
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 10px;
}

.course{
  display: flex;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: not-allowed;
}

.course.active{
  cursor: pointer;
}

.course-icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.547);
}

.active .course-icon.mindfulness{
  background-color: #9E788F;
}

.active .course-icon.distress{
  background-color: #F4A261;
}

.active .course-icon.emotion{
  background-color: #A9B3CE;
}

.active .course-icon.interpersonal{
  background-color: #E9C46A;
}

.course-icon img{
  height: 25px;
  width: auto;
}

.course-name{
  height: 40px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.281);
}

.active .course-name{
  color: black;
}

.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.242);
  width: 90%;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 10px;
}

.skills p{
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 10px;
}

.skillsContainer{
  display: flex;
  justify-content: space-between;
  font-size: .7em;
  margin: 10px 5px; 
}

.skillsContainer a{
  display: flex;
  justify-content: center;
  max-width: 80px;
}

.skillsContainer .skill{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-width: 80px;
  min-height: 105px;
}

.skill.mindfulness{
  background-color: #9E788F;
}

.skill.distress{
  background-color: #F4A261;
}

.skill.emotion{
  background-color: #A9B3CE;
}

.skill.interpersonal{
  background-color: #E9C46A;
}

.skill-icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon img{
  height: 25px;
  width: auto;
}

.skill-text{
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Diary Overview---------------------------------------------------------------------------------------------------- */
.DiaryOverview{
  font-family: "Quicksand", sans-serif;
}

.backButton{
  display: flex;
  padding-top: 10px;
  padding-left: 5px;
  width: 20%;
}

.backButton:active{
  text-decoration: underline;
}

.backButton .backArrow{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 21px;
}

.diaryDates{
  background-color: #9E788F;
  width: 100%;
  margin: 20px 0px;
  padding-bottom: 10px;
}

.diaryDatesSelector{
  width: 100%;
  padding: 10px;
  color: white;
  display: flex;
}

.diaryDatesSelector label{
  margin-right: 10px;
  font-size: 1.15rem;
}

.diaryDatesSelector select{
  appearance: none;
  background-color: #9E788F;
  color: white;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.15rem;
  cursor: pointer;
  width: 250px;
}

.selectorContainer{
  position: relative;
  width: 250px;

}

.selectorContainer::before, 
.selectorContainer::after{
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.selectorContainer::before{
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid white;
  top: 20%;
}

.selectorContainer::after{
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
  top: 55%;
}

.diaryDatesView{
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.newDiaryButtonContainer{
  display: flex;
  justify-content: flex-end;
}

.newDiaryButton{
  background-color: #F4A261;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.weeklyOverview{
  background-color: #9E788F;
  width: 100%;
  margin: 20px 0px;
  color: white;
  padding: 10px;
}

.weeklyOverview p{
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: underline;
}

.statsContainer{
  padding: 10px;
  display: flex;
  width: 100%;
}

.statTitle{
  width: 40%;
  margin-right: 10px;
}

.urgeContainer{
  margin-bottom: 5px;
}

.emotionsContainer{
  margin-bottom: 5px;
}

.drugsContainer{
  margin-bottom: 5px;
}

.actionsContainer{
  margin-bottom: 5px;
}

.skillsPracticedContainer{
  margin-bottom: 5px;
}

.statTitle{
  font-size: 1.1rem;
  font-weight: 600;
}

.progressReport{
  background-color: #9E788F;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
}

.progressReport p{
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: underline;
}

.chartContainer{
  background-color: white;
  color: red;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 10px;
  padding: 10px;
}

.chart{
  border: 2px solid black;
  height: 250px;
}

.toggleButtonsContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 500;
}

.urgesButton{
  background-color: #F4A261;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.emotionsButton{
  background-color: #A9B3CE;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.drugsButton{
  background-color: #E9C46A;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.actionsButton{
  background-color: #9E788F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

/* Diary Modal----------------------------------------------------------------------------------------------------------- */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 100vw;
  height: 100vh;
  background: white;
  color: white;
  z-index: 10;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow: auto;
}

.modalHeader {
  /* height: 50px; */
  background: white;
  overflow: hidden;
  padding-top: 30px;
}


.modalHeader .heading {
  margin: 0;
  padding: 10px;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: black;
  /* text-align: center; */
}

.ratingsContainer{
  background-color: #9E788F;
  padding: 10px;
  margin-top: 10px;
}

.ratingsContainer p{
  color: white;
  font-size: 1.1rem;
}

.urgesRatings{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.urgesRatings .listHeading{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}

.urgesList .urge{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.urge .urgeName{
  width: 105px;
}

.radio{
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 10px;
}

.radio input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 2px;
  right: 0px;
  z-index: 1;
}

.radio .radioButton{
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #d5d4d4;
  border-radius: 50%;
}

.radio input:checked ~ .radioButton{
  background-color: #9E788F;
}

.emotionsRatings{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.emotionsRatings .listHeading{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}

.ratingsContainer .drugsContainer{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.drugsContainer .listHeading{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}

.drug{
  margin-bottom: 5px;
}

.drug label{
  width: 130px;
  display: inline-block;
}

.drug input{
  width: 50px;
}

.drug input:focus-visible{
  outline: none;
  border: 2px solid #9E788F;
}

.ratingsContainer p{
  display: flex;
}

.infoButton{
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.skillsUseRadioButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skillsPracticedList{
  margin-top: 10px;
  margin-left: 10px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #F4A261;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notesContainer{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.notesContainer textarea{
  width: 100%;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
}

.invisodiv{
  margin-bottom: 60px;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 2rem;
  color: black;
  background: none;
  transition: all 0.25s ease;
  position: absolute;
  left: 0;
  top: 5px;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background-color: #9E788F ;
  transition: all 0.25s ease;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #d5d5d5;
  transition: all 0.25s ease;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

/* Courses Pages---------------------------------------------------------------------------------------------------------- */
.coursePage{
  font-family: "Quicksand", sans-serif;
  padding: 10px;
}

.courseBanner{
  width: 100%;
  height: 4rem;
  box-shadow: inset 0 0 0 1000px rgba(246, 246, 246, 0.453);
  background-size: cover;
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseBanner.mindfulness{
  background-image: url(/src/pictures/william-farlow-IevaZPwq0mw-unsplash.jpg);
  background-position: 0px 170px;
}

.courseBanner.distressTolerance{
  background-image: url(/src/pictures/rui-xu-00pX4LOTuzo-unsplash.jpg);
  background-position: center;
}

.courseBanner.emotionRegulation{
  background-image: url(/src/pictures/catalin-pop-noydSJIWMSg-unsplash.jpg);
  background-position: 0px 160px;
}

.courseBanner.interpersonalEffectiveness{
  background-image: url(/src/pictures/duy-pham-Cecb0_8Hx-o-unsplash.jpg);
  background-position: 0px 130px;
}

.courseBanner p{
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

.courseInfo{
  background-color: #9E788F;
  color: white;
  margin-top: 10px;
  padding: 15px;
}

.courseInfo .title{
  font-size: 1.2rem;
  font-weight: 600;
}

.courseInfo .courseDescription{
  margin-top: 10px;
}

.subCourse{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.courseSubHeader{
  font-size: 1.5rem;
  position: relative;
}

.courseSubHeader::after{
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  left: -35px;
  top: 50%;
  position: absolute;
}

.courseSubHeader::before{
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  right: -35px;
  top: 50%;
  position: absolute;
}

.subCourseName{
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 5px;
}

.courseLesson{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #F4A261;
  color: white;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.courseLesson::after{
  content:"";
  position: absolute;
  display: block;
  height: 20px;
  z-index: -1;
  top: 100%;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #444;
}

.coursePractice{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #A9B3CE;
  color: white;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.coursePractice::after{
  content:"";
  position: absolute;
  display: block;
  height: 20px;
  z-index: -1;
  top: 100%;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #444;
}

.courseQuiz{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #E9C46A;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}